version: "3.8"

services:
  backend:
    build: ./backend
    container_name: clima-backend
    ports:
      - "3000:3000"
    environment:
      OPENWEATHER_API_KEY: apikey
    restart: unless-stopped
